<v-list-group>

  <v-list-tile slot="activator">
    <v-list-tile-action>
      <v-icon>list</v-icon>
    </v-list-tile-action>
    <v-list-tile-content>
      <v-list-tile-title>Alle Stundenpläne</v-list-tile-title>
    </v-list-tile-content>
  </v-list-tile>

  <v-list-group
    v-for="{ faculty, degree } in facultiesAndDegrees"
    :key="faculty + degree"
    value="true"
    sub-group
    no-action>
    <v-list-tile slot="activator">
      <v-list-tile-content>
        <v-list-tile-title>{{ faculty }} - {{ degree }}</v-list-tile-title>
      </v-list-tile-content>
      <v-list-tile-action v-if="currentCourse.faculty == faculty && currentCourse.degree == degree">
          <v-icon>check</v-icon>
        </v-list-tile-action>
    </v-list-tile>

    <template 
      v-for="semester in getSemestersByFacultyAndDegree(faculty, degree)">
      <v-list-group
        v-if="getCoursesByFacultyAndDegreeAndSemester(faculty, degree, semester).length > 1"
        :key="semester"
        no-action
        sub-group>
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>{{ semester }}. Semester</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action v-if="currentCourse.degree == degree && currentCourse.semester == semester">
            <v-icon>check</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile
          v-for="course in getCoursesByFacultyAndDegreeAndSemester(faculty, degree, semester)"
          :key="course.id"
          @click="currentCourse = course">
          <v-list-tile-content value="true">
            <v-list-tile-title value="true">{{ course.label }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action v-if="currentCourse == course">
            <v-icon>check</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list-group>

      <v-list-tile
        v-else
        :key="semester"
        @click="currentCourse = getCoursesByFacultyAndDegreeAndSemester(faculty, degree, semester)[0]">
        <v-list-tile-content>
          <v-list-tile-title>{{ semester }}. Semester</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action v-if="currentCourse == getCoursesByFacultyAndDegreeAndSemester(faculty, degree, semester)[0]">
          <v-icon>check</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </template>

  </v-list-group>

</v-list-group>