# Siehe Dokumentation in https://github.com/SplusEins/sked_parser

# TODO Semesterwechsel: Aktualisieren auf das aktuelle Semester
current_sem: "ws25"
# timetables with the following strings in the URL or description will be filtered out (use lowercase only)
timetable_blacklist:
  # TODO Semesterwechsel: Aktualisieren auf Strings vom vorherigen Semester
  # - "ss 25"
  # - "ss25"
  # - "sose"
  # - "/ss/"
  # - "ss202"
  # - "nur im ss"

  - "ws 25"
  - "ws25"
  - "wise"
  - "/ws/"
  - "ws202"
  - "ws 202"
  - "nur im ws"

  - "pruefung"
  - "klausur"
  - "prüfung"
  - "231401.html" # workaround for informatik (might be removable next semester)
  - "231405.html" # workaround for informatik (might be removable next semester)

plans:
  - url: https://stundenplan.ostfalia.de/b/wp/index.html
    faculty: Bau-Wasser-Boden
  - url: https://stundenplan.ostfalia.de/e/
    faculty: Elektrotechnik
  - url: https://stundenplan.ostfalia.de/f/wp/index.html
    faculty: Fahrzeugtechnik
  - url: https://stundenplan.ostfalia.de/g/wp/index.html
    faculty: Gesundheitswesen
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/h/lvp/wp/index.html
    faculty: Handel und Soziale Arbeit
  - url: https://intranet-i.ostfalia.de/fips/stundenplan/
    faculty: Informatik
    type: "intranet"
  - url: https://stundenplan.ostfalia.de/k/prod/vorlesungsplaene/wp/ss/
    faculty: Verkehr-Sport-Tourismus-Medien
  - url: https://stundenplan.ostfalia.de/k/prod/vorlesungsplaene/wp/ws/
    faculty: Verkehr-Sport-Tourismus-Medien
  # Die Timetables haben keine Uhrzeit in den einzelnen Elementen => zu hart für SplusEins
  # - url: https://stundenplan.ostfalia.de/m/sem/index.html
  #  faculty: Maschinenbau
  - url: https://stundenplan.ostfalia.de/r/studentenset/index.html
    faculty: Recht
  - url: https://stundenplan.ostfalia.de/s/wp/index.html
    faculty: Soziale Arbeit
  - url: https://stundenplan.ostfalia.de/v/stundenplan/wing/B/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/wing/E/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/wing/G/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/wing/U/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/sce/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/ksm/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/ge/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/egt/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/v/stundenplan/bee/index.html
    faculty: Versorgungstechnik
    shorthand_syntax: True
  - url: https://stundenplan.ostfalia.de/w/
    faculty: Wirtschaft
