name: "Docs Build"

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
  merge_group:

defaults:
  run:
    working-directory: ./docs

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: "docs/.nvmrc"
      - run: npm ci
      - run: npm run build
      - run: npm run fmt:check
