name: Timetable sync

on:
  schedule:
    - cron: "0 17 * * *" # once per day so we don't spam ostfalia servers too much
  workflow_dispatch:

concurrency: timetable-sync

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ssh-key: ${{ secrets.SSH_GITHUB_PRIVATE_KEY }}
          fetch-depth: 0

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.x"

      - name: Install sked-parser
        run: python -m pip install git+https://github.com/SplusEins/sked_parser.git

      - name: Run sked-parser
        shell: bash
        env:
          OSTFALIA_USER: ${{ secrets.OSTFALIA_USER }}
          OSTFALIA_PASS: ${{ secrets.OSTFALIA_PASS }}
        run: |
          set -o pipefail
          sked-parser -o web/assets/timetables.json -o server/assets/timetables.json -c timetable-config.yaml 2>&1 | tee sked-parser-full.log

      - name: Extract WARN lines
        id: warns
        shell: bash
        run: |
          touch warn.txt
          grep '^WARN' sked-parser-full.log > warn.txt || true
          echo "warns<<EOF" >> $GITHUB_OUTPUT
          cat warn.txt >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7
        with:
          token: ${{ github.token }}
          commit-message: Updated timetables with sked-parser
          branch: actions/update-timetables
          author: actions-user <actions@github.com>
          committer: actions-user <actions@github.com>
          title: "Sync timetables.json with Ostfalia"
          labels: automated
          add-paths: |
            **/timetables.json
          body: |
            Timetables updated via [sked-parser](https://github.com/SplusEins/sked_parser).
            Docs: https://spluseins-i.ostfalia.de/docs/semesterbeginn.html#aktualisierung-der-plane

            Full logs:
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

            Warnings:
            ```
            ${{ steps.warns.outputs.warns }}
            ```
